<!-- Menu Bar -->
<div class="ui menu">
  <div class="ui container">
    <a href="#" class="header item">
      <img class="logo"
           src="assets/images/ng-book-2-minibook.png" />
      ng-book 2
    </a>
    <div class="header item borderless">
      <h1 class="ui header">
        Angular Forms
      </h1>
    </div>
  </div>
</div>

<div class="ui stackable grid container">
  <div class="sixteen wide column">
    <app-form-sku></app-form-sku>
  </div>
  <div class="sixteen wide column">
    <app-form-sku-with-builder></app-form-sku-with-builder>
  </div>
  <div class="sixteen wide column">
    <app-form-with-validations-explicit></app-form-with-validations-explicit>
  </div>
  <div class="sixteen wide column">
    <app-form-with-events></app-form-with-events>
  </div>
  <div class="sixteen wide column">
    <app-form-ng-model></app-form-ng-model>
  </div>
</div>

